
*{
    margin: 0;
    padding: 0;
    border: none;
}
#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #a50000;
    height: 56px;
    z-index: 1;

}
#navigation > li{
    display: inline-block;

}
#navigation .navigation2 li{
    list-style-type: none;
}
#navigation li{
    font-family: Arial;
    position: relative;
;
}
#navigation > li > a{
    color: white;
}

#navigation li a{
    display: block;
    text-decoration: none;
    line-height:56px;
    padding: 0px 30px
}
#navigation li:hover .navigation2{
    display: block;
}

#navigation .navigation2 {
    width: 250px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background: white;
}
#navigation .navigation2 a{
    color: black;
    padding: 0px 25px;
    line-height: 45px;
}

#navigation > li:hover > a{
    color: black;
    background: #d2cdcd;

}
#navigation .navigation2 li:hover a {
    color: black;
    background: #d2cdcd;

}

#slice{
    position: relative;
    box-shadow: inset 40px 0px 100px #151515;
    margin-top: 56px ;
    padding-top:50%;
    background:url("./Slice/classroom-of-the-elite-season-2-characters-4k-wallpaper-uhdpaper.com-637@1@h.jpg") top center/ cover no-repeat ;
}
#slice .Text-slice{
    font-size: 180%;
    color: white;
    position: absolute;
    bottom:75px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slice .slice-text{
    text-decoration: underline;
    padding-top: 10px ;
    font-family: Arial;
}

#content{

}

#content .content-section{
    width: 1100px;
    padding: 64px 0;
    margin-left: auto ;
    margin-right: auto ;
}

#content .section-heading{
    color: maroon ;
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 25px ;
}
#content .section-content{
    font-size: 20px;
    font-family: sans-serif ;
    text-align: justify;
    line-height: 1.6;


}

#content .character-list{
    margin-top: 60px;
    overflow: hidden;


}
#content .character{
    float: left;
    width: 33.3333%;
    text-align: center;

}
#content .character_name{
    color: maroon;
    font-size: 23px;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 20px;
}

#content .character-img{
    width: 50%;
    border-radius: 40px;
    border: 7px;
    border-style: solid;
    border-color: #297929;
}
#content .character-img:hover{
    color: yellow;
}
#content .note{
    text-align: center;
    font-style: italic;
    opacity: 80%;
}

#content .light-novel{
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-top: 30px;
    display: inline-block;
}
#content .light-novel-image:hover{
    opacity: 0.6;

}
#content .light-novel-image{
    position: center;
    display: block;
}
#content .light-novel-in4{
    position: center;
    display: block;
    margin: 39px;
    margin-top: 0;
    margin-left: 0;
    background: #ffd5d5;
    width: 75%;



}

#content .light-novel-vol{

}

#content .light-novel-time{
    font-family: sans-serif;
    margin-top: 15px;
    color: #757575;
}

#content .light-novel-slogan{
    font-family: sans-serif;
    margin-top: 15px;
    margin-bottom: 15px;
}
#content .light-novel-read{
    position: relative;
    font-family: sans-serif;
    font-size: 20px;
   display: block;
    padding: 5px;
    color: #ffadad;
    background: #151515;
    text-decoration: none;

}
#content .light-novel-read:hover{
    color: #004900;
    background: #ff6c6c;
}
.Floater {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(21, 21, 21, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.Floater .Floater-table{

    background: white;
    width: 900px;
    min-height: 400px;
    position: relative;
}
.Floater .Floater-table-header{
    background-color: #7a0000;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: white;
}
.Floater .Close-button:hover{
    background-color: white;
    color: #7a0000;
}
.Floater .Close-button {
    font-family: Arial;
    position: absolute;
    right: 0;
    padding: 10px;
    color: white;
}
#foot{

}


.row{
    margin-left: -8px;
    margin-right: -8px;
}
.colume {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-haft{

}


